/* Nav Bar & Footer*/
.header-color {
    background: #8E0E00;
    background: -webkit-linear-gradient(to bottom, #1F1C18, #8E0E00);
    background: linear-gradient(to bottom, #1F1C18, #8E0E00); 
  }
  
  .social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
  }
  
  .social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
  }
  